html, body {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#game-field {
    border-collapse: collapse;
}

#game-field td {
    border: 1px solid black;
    width: 12.5%;
}

#game-field td::before {
    content: "";
    padding-top: 100%;
    float: left;
}

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
    background: white;
}
tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background: grey;
}